<app-header title="Entrar"></app-header>
<main class="d-flex flex-column justify-content-center align-items-center w-75 m-auto gap-4">
    <div class="d-flex justify-content-center flex-column align-items-center gap-3 w-100">
        <app-input class="w-100" type="text" title="Nome" icon="fa-regular fa-user" />
        <app-input class="w-100" type="password" title="Senha" icon="fa-solid fa-lock" />
    </div>

    <div class="d-flex justify-content-end w-100">
        <a href="">Esqueci minha senha</a>
    </div>

    <div>
        <app-button title="Entrar"></app-button>
    </div>
</main>