:host ::ng-deep .p-2 {
    width: 340px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: #63B4FF;
    color: aliceblue;
    margin: 5px;
    border-radius: 10px;
    font-size: large;
}

:host ::ng-deep .surface-border {
    min-width: 360px;
    min-height: 380px;
    margin: auto;
}

a {
    text-decoration: none;
    color: aliceblue;
}