<app-header title="Cadastro de clientes"></app-header>
<main class="d-flex flex-column w-75 align-items-center m-auto gap-5">
    <i class="icon-size primary-color fa-solid fa-circle-user"></i>
    <form class="d-flex justify-content-center flex-column align-items-center w-100 gap-3">
        <app-input class="w-100" type="text" icon="fa-solid fa-id-badge" title="Nome"></app-input>
        <app-input class="w-100" type="text" icon="fa-regular fa-envelope" title="Email"></app-input>
        <app-input class="w-100" type="password" icon="fa-solid fa-lock" title="Senha"></app-input>
    </form>
    <app-button title="Criar"></app-button>
</main>